<div class="container mt-5" style="padding-bottom: 20%">
    <form action="/add_vote" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên món ăn</label>
            <input type="text" name="tenMonAn" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Tên món ăn">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tên cửa hàng</label>
            <input name="tenCuaHang" type="text" class="form-control" id="exampleInputPassword1" placeholder="Tên cửa hàng">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Địa chỉ</label>
            <input name="diaChi" type="text" class="form-control" id="exampleInputPassword1" placeholder="Địa chỉ">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Giờ mở cửa</label>
            <input name="gioMoCua" type="time" id="default-picker" class="form-control" placeholder="Giờ mở cửa">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Giờ đóng cửa</label>
            <input name="gioDongCua" type="time" id="default-picker" class="form-control" placeholder="Giờ đóng cửa">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Bạn có thích không ?</label><br>
            <input type="checkbox" id="vehicle1" name="like" value="like">
            <label for="vehicle1"> Like</label><br>
            <input type="checkbox" id="vehicle1" name="dislike" value="dislike">
            <label for="vehicle1"> dislike</label><br>
<!--            <select name="like" class="form-control" id="exampleFormControlSelect1">-->
<!--                <option value="like" name="like">Nên thử</option>-->
<!--            </select>-->
<!--            <select name="dislike" class="form-control" id="exampleFormControlSelect1">-->
<!--                <option value="dislike" name="dislike">Không nên thử</option>-->
<!--            </select>-->
        </div>
        <div class="btn btn-outline-success btn-rounded waves-effect btn-sm float-left w-full text-left">
            <span>Choose file</span>
            <input type="file" name="Anh" multiple="true">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Vote</button>
    </form>

</div>

